input[type='file'] {
  display: none;
}
.tox-notifications-container {
  display: none;
}

.card-body-desc {
  color: #999;
  text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.el-collapse-item__header {
  height: 100%;
  padding: 10px;
}

.min-width .el-input {
  width: 20%;
}

.tour-image {
  width: 100%;
  height: 155px;
}
.el-loading-text {
  font-size: 20px;
  text-align: center;
}
/* 移动端分离后删除 */
.el-header {
  padding: 0;
  height: 40px;
}
