input[type='file'] {
  display: none;
}
.tox-notifications-container {
  display: none;
}

.card-body-desc {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 14px;
  line-height: 14px;
  color: #999;
  font-size: 14px;
}

.el-collapse-item__header {
  height: 100%;
  padding: 10px;
}

.min-width .el-input {
  width: 20%;
}

.tour-image {
  width: 100%;
  height: 155px;
}
/* 移动端分离后删除 */
.el-header {
  padding: 0;
  height: 40px;
}
